html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*body {
	background-color: LightGray;
    background-color: #FFFFFF;
}*/

* {
	/*border: 1px solid Chocolate;*/
}

/* Fonts */
@font-face {
    font-family: code;
    src: url("../fonts/CODE Light.otf");
}

@font-face {
    font-family: code;
    src: url("../fonts/CODE Bold.otf");
    font-weight: bold;
}

/*Headings*/
h1 {
/*    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 0;*/
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #9EA3AA;
}

.my-name {
    font-family: code, serif;
}

/* Layout */
header {
    height: 682px;  /* same as jumbotron */
}

#jumbotron {
	background-image: url("https://c2.staticflickr.com/4/3746/11813559994_359596682a_b.jpg");
    background-size: cover;
    background-position: center bottom;
    background-color: #000000;
    background-attachment: fixed;

    -webkit-filter: blur(3px) grayscale(0.7) opacity(1);

    position: absolute;
    top: 0; left: 0;
    /*height: 100%; */
    height: 682px;  /* original image height */
    width:100%;
}

#header-text {
    position: absolute;
    top: 0; left: 0;
    color: #FFFFFF;
    text-align: center;
}

/*.grid {
    position: absolute;
    top: 1000; left: 0;
    height: 100%; width:100%;

}*/