html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
    background-color: #F1F1F1;
}

/* Fonts */
@font-face {
    font-family: code;
    src: url("../fonts/CODE Light.otf");
}

@font-face {
    font-family: code;
    src: url("../fonts/CODE Bold.otf");
    font-weight: bold;
}

/*Headings*/
h1 {
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 0;
}

h2 {
    font-size: 2em;
    font-weight: bold;
    color: rgb(51, 122, 183);
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    font-size: 0.9rem;
    font-weight: 300;
    color: #9EA3AA;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans Condensed", sans-serif;
}

p, li {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    padding: 0px 15px;
}

.my-name {
    font-family: code, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 0 0 0.1em #2C3C5E;
    letter-spacing: .1em;
    line-height: 2em;
    margin-top: 1em;
}

.grid h4 {
    font-weight: 700;
    text-align: center;
}

@media screen and (max-width: 429px) {
    h1.my-name {
        font-size: 3em;
    }
}

@media screen and (min-width: 430px) {
    h1.my-name {
        font-size: 4em;
    }
}

@media screen and (min-width: 600px) {
    h1.my-name {
        font-size: 6em;
    }
    h2.my-name {
        font-size: 2.5em;
    }
}

/* Layout */
header {
    height: 682px;  /* same as jumbotron */
}

#jumbotron {
    background-image: url("../images/19207935681_3ed43e0a13_k.jpg");
    background-size: cover;
    background-position: center bottom;
    background-color: #000000;
    background-attachment: fixed;
    /*position: absolute;*/
    top: 0; 
    left: 0;
    height: 682px;  /* original image height */
    width: 100%;
}

#header-text {
    position: absolute;
    top: 0; 
    left: 0;
    color: #FFFFFF;
    text-align: center;
}

.project {
    padding-top: 20px;

}

.container-fluid {
    background-color: #FFFFFF;
}

#intro {
    padding: 20px 0px 50px 0px;
}

footer {
    padding: 20px 0px;
}

/*Project elements*/
.project img {
    margin: 60px auto 0px auto;
    width: auto;
    border-radius: 10px;
}

.tags {
    background-color: #FFFFFF;
    color: rgb(51, 122, 183);
    padding: 3px 5px;
    border-radius: 3px;
    font-weight: bold;
}

.grid div {
    background-size: cover;
    background-position: center top;
    padding-top: 100px;
    height: 300px;
}

.grid h4 {
    background-color: rgba(255, 255, 255, 0.85);
    margin: 0px auto;
    width: 60%;
    padding: 10px 10px;
    text-align: center;
    border-radius: 10px;
}

#weather {
    background-image: url("../images/weather.jpg");
}

#quiz {
    background-image: url("../images/quiz.jpg");
}

#shopping-list {
    background-image: url("../images/shopping-list.png");
}

#street-fighter {
    background-image: url("../images/street-fighter.jpg");
}

#karma {
    background-image: url("../images/karma.jpg");
}

#about-me {
    background-image: url("../images/about-me.jpg");
}

#ny-times {
    background-image: url("../images/NYTimesHacked.jpg");
}

#hot-cold {
    background-image: url("../images/hot-cold.png");
}

#fresh-prince {
    background-image: url("../images/fresh-prince.jpg");
}

#stackoverflow {
    background-image: url("../images/stackoverflow.jpg");
}

#my-tube {
    background-image: url("../images/my-tube.jpg");
}

#fizz-buzz {
    background-image: url("../images/fizz-buzz.jpg");
}

#coming-soon1, #coming-soon2 {
    background-color: #F1F1F1;
}

@media screen and (max-width: 992px) {
    #coming-soon1 {
        display: none;
    }
}

@media screen and (min-width: 1199px) {
    #coming-soon1 {
        display: none;
    }
}