html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*body {
	background-color: LightGray;
    background-color: #FFFFFF;
}*/

div {
	border: 1px solid Chocolate;
}

/*Headings*/
h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #FFFFFF;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    color: #9EA3AA;
}


#jumbotron {
	background-image: url("https://c2.staticflickr.com/4/3746/11813559994_359596682a_b.jpg");
    background-size: cover;
    background-position: center bottom;
    background-color: #000000;
    background-attachment: fixed
    height: 46rem;

    color: #FFFFFF;
    text-align: center;
    padding: 15rem 0;   /*Fixed text wrapping by removing side padding */

    -webkit-filter: blur(2px);

    position: absolute;
    top: 0; left: 0;
    height: 100%; width:100%;
}

#header-text {
    position: absolute;
    top: 0; left: 0;
    height: 100%; width:100%;
}